@charset "UTF-8";
/* CSS Document */

.footer {
	background-color: black;
  	margin-top: 14em;
	padding-bottom: 3em;
}

.nav-li {
	font-family: "Noto Sans JP";
	font-weight: 200;
}

.li-none {
	list-style-type: none;
}

a.nav-li:link {
	color: darkgrey;
	text-decoration: none;
	}
a.nav-li:visited {
	color: darkgrey;
	text-decoration: none;
	}
a.nav-li:hover {
	color: floralwhite;
	text-decoration: none;
	}
a.nav-li:active {
	color: grey;
	text-decoration: none;
}

.footer-group {
	padding: 0px 150px 0px 150px;
}