@charset "UTF-8";
/* CSS Document */

.header-bild {
	width: 15%;
	padding: 1.5%;
}

.section-header {
	justify-content: space-between;
	background-color: black;
}

.header-font {
	font-family: "Noto Sans JP";
	font-weight: 500;
	padding: 3% 15% 3% 0%;
	color: white;
	font-size: 1.8em;
}

a.header-link:link {
	color: white;
	text-decoration: none;
	}
a.header-link:visited {
	color: white;
	text-decoration: none;
	}
a.header-link:hover {
	color: grey;
	text-decoration: none;
	}
a.header-link:active {
	color: grey;
	text-decoration: none;
}

.uebergang {
	position: absolute;
	z-index: 2;
}