@charset "UTF-8";
/* CSS Document */

.zitat {
	font-family: "Noto Sans JP";
	font-weight: 600;
	font-size: 2.5em;
	margin: 0px 20px 100px 20px;
}

.interview-bullets {
	margin: 0px 20px 15px 20px;
	list-style: circle;
	list-style-position: inside;
}

@media only screen and (max-width:768px) {
	.zitat {
		font-size: 1.5em;
		margin: 0px 20px 100px 20px;
	}
}

@media only screen and (max-width:480px) {
	.zitat {
		font-size: 1em;
		margin: 0px 20px 100px 20px;
	}
}