@charset "UTF-8";
/* CSS Document */

.hero-section {
	background-image: url("img/Sternenhimmel_web_opt.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 1000px;
	align-items: center;
	justify-content: center;
}

.hero-section-img {
	width: 60%;
}

.section-steckbrief {
	justify-content: center;
	align-items: center;
}

.textblock-steckbrief {
	padding: 20px;
	z-index: 3;
}

.portrait-steckbrief {
	width: 500px;
	margin: 10px 5px 10px 10px;
	padding: 1px 1px 1px 1px;
	z-index: 2;
}

.imperium-wappen {
	position: absolute;
	right: 400px;
	z-index: 1;
}

.section-auszeichnungen {
	justify-content: space-around;
}

.box-auszeichnungen {
	align-items: center;
	flex-direction: column;
	margin: 10px 20px 10px 20px;
	width: 350px;
}

.fotos-gallerie {
	transition: all .2s ease-in-out;
	width: 350px;
	padding-bottom: 10px;
}


.fotos-gallerie:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.ueberschrift-margin {
	margin: 4.5em 0px 1em 0px;
}





